.intro,.base,.pro{
    background-color: aqua;
    margin-top:2rem;
     height: 30rem;
    border-radius: 30px;
    line-height: 2;       
  font-family: sans-serif;
  align-content: center;
  place-items: center;
  h2{
    padding-right: 10rem;
  }

   }
   
.base{background-color: rgb(131, 181, 125);
    height: 30rem;
    border-radius: 30px;
    margin-top:2rem;

}
.pro{background-color: rgb(163, 66, 133);
    /* height: 30rem;
     border-radius: 30px;
     font-family: sans-serif;
  align-content: center;
  place-items: center; 
  line-height: 2;
 font-weight: 2rem;
  h2{
    padding-right: 11rem;
  }
      */


}
.enterprise{
    background-color: rgb(223, 194, 5);
    height: 30rem;
    border-radius: 30px;
    margin-top:2rem; 
    font-family: sans-serif;
  align-content: center;
  place-items: center;
  line-height: 2; 
  margin-top:2rem; 
}
.enter-p{padding-right: 7rem;}
.intro-container-1,.intro-container-2,.intro-container-3,.intro-container-4{
    list-style: none;
    
    
} 
 .month-1,.month-2,.month-3,.month-4{display: flex;
    .number1{
        font-size: 2rem;
        font-weight: 600;
        
    }align-items: baseline;
    padding-right: 7rem;

}
.pricebox{
    display: flex;
    
    gap: 20px;
    margin-top:3rem;
    background-color: oklch(0.97 0.01 0);;
} 
.button-1,.button-2,.button-3,.button-4{
    width: 15rem;
    height: 3rem;
    border-radius: 1rem;
    justify-content: center;
    display: flex;
    align-items: center;
    font-family: sans-serif;
    font-size: 17px;
    font-weight: 600;
    color: oklch(0.58 0.25 292.5);
    
}
