

.intro,.base,.pro{
    background-color: #ffffff;
    margin-top:2rem;
     height: 30rem;
    border-radius: 30px;
    line-height: 2;       
  font-family: sans-serif;
  align-content: center;
  place-items: center;
  h2{
    padding-right: 10rem;
  }

   }
   
.base{background-color: #ffffff;
    height: 30rem;
    border-radius: 30px;
    margin-top:2rem;

}
.pro{background-color:#ffffff;
    h2{
        padding-right: 11.5rem;
    }
    


}
.enterprise{
    background-color:#ffffff;
    height: 30rem;
    border-radius: 30px;
    margin-top:2rem; 
    font-family: sans-serif;
  align-content: center;
  place-items: center;
  line-height: 2; 
  margin-top:2rem; 
}
.enter-p{padding-right: 6.5rem;}
.intro-container-1,.intro-container-2,.intro-container-3,.intro-container-4{
    list-style: none;
    
    
} 
 .month-1,.month-2,.month-3,.month-4{display: flex;
    .number1,.number2,.number3,.number4{
        font-size: 2rem;
        font-weight: 600;
        color:#181059; 
        
    }align-items: baseline;
    padding-right: 7rem;

}
.pricebox{
    display: flex;
    
    gap: 20px;
    margin-top:3rem;
    background-color:#f6f5fa
} 
.button-1,.button-2,.button-3,.button-4{
    background-color: #f8f4ff;
    width: 15rem;
    height: 3rem;
    border-radius: 1rem;
    border-color: #f6f5fa;
    justify-content: center;
    display: flex;
    align-items: center;
    font-family: sans-serif;
    font-size: 17px;
    font-weight: 600;
    color: oklch(0.58 0.25 292.5);
    border:none
    }
    h2{
        color: #181059;;
    }
    .intro-container-1 > li:nth-child(n+2){
        color: #b2b2b2;
    }.intro-container-2 > li:nth-child(n+4){
        color: #b2b2b2;
    }.intro-container-3 > li:nth-child(n+5){
        color: #b2b2b2;
    }
    .intro:hover,.base:hover,.pro:hover,.enterprise:hover{
         transform: translateY(-20px);
         background-color: #181059;
         }

         
   .intro:hover{
            color:#ffffff;
            li:nth-child(n+2){
           color:#5d588b;
         }
         h2{ color:#ffffff;}
         span{color:#ffffff;}
         button{background-color:#8645ff;
        color: #ffffff;}
        }
    .base:hover{
            color:#ffffff;
           li:nth-child(n+4){
           color:#5d588b;
         }
         h2{ color:#ffffff;}
         span{color:#ffffff;}
         button{background-color:#8645ff;
        color: #ffffff;}
        }
    .pro:hover{
            color:#ffffff;
            li:nth-child(n+5){
           color:#5d588b;
         }
         h2{ color:#ffffff;}
         span{color:#ffffff;}
         button{background-color:#8645ff;
        color: #ffffff;}
        }
        .enterprise:hover{
            color:#ffffff;
          
         h2{ color:#ffffff;}
         span{color:#ffffff;}
         button{background-color:#8645ff;
        color: #ffffff;}
        }

         
    
   
        
     
    
