.intro,.base{
    background-color: aqua;
    margin-top:2rem;
     height: 30rem;
    border-radius: 30px;
    line-height: 2;       
  font-family: sans-serif;
  align-content: center;
  place-items: center;
  h2{
    padding-right: 10rem;
  }

   }
   
.base{background-color: rgb(131, 181, 125);
    height: 30rem;
    border-radius: 30px;
    margin-top:2rem;

}
.pro{background-color: rgb(163, 66, 133);
    height: 30rem;
     border-radius: 30px;
     


}
.enterprise{
    background-color: rgb(223, 194, 5);
    height: 30rem;
    border-radius: 30px;
    margin-top:2rem; 
    font-family: sans-serif;
  align-content: center;
  place-items: center;
  line-height: 2; 
  margin-top:2rem; 
}
.enter-p{padding-right: 7rem;}
.intro-container-1,.intro-container-2,.intro-container-3,.intro-container-4{
    list-style: none;
    
    
} 
 .month-1,.month-2,.month-3,.month-4{display: flex;
    .number1{
        font-size: 2rem;
        font-weight: 600;
        
    }align-items: baseline;
    padding-right: 7rem;

}
.pricebox{
    display: flex;
    border:5px solid crimson;
    gap: 20px;
    margin-top:3rem;
} 
